<nav id="sidebar">
          
    <ul class="list-unstyled">

        <li class="components">
            <a routerLinkActive="active" [routerLink]="'dashboard'">Dashboard</a>
        </li>
        <li class="components">
            <a routerLinkActive="active" [routerLink]="'users'">Profile</a>
        </li>
        <li class="components">
            <a routerLinkActive="active" [routerLink]="'meals'">Food Diary</a>
        </li>
        <li class="components">
            <a routerLinkActive="active" [routerLink]="'https://diabetesstrong.com/category/diet/meal-plans/'">Meal Plans</a>
        </li>
        <li class="components">
            <a routerLinkActive="active" [routerLink]="'https://www.sciencedaily.com/news/health_medicine/nutrition/'">Nutrition News</a>
        </li>
    </ul>
</nav>

