<table class="table">
    <tbody>
      <tr>
        <td>Username</td>
        <td>John</td>       
      </tr>
      <tr>
        <td>Email</td>
        <td>test@gmail.com</td>     
      </tr>
      <tr>
        <td>Password</td>
        <td>********</td>       
      </tr>
      <tr>
        <td>Gender</td>
        <td>Male</td>     
      </tr>
      <tr>
        <td>Date of Birth</td>
        <td>2/5/1993</td>       
      </tr>
      <tr>
        <td>Country</td>
        <td>UK</td>     
      </tr>
      <tr>
        <td>Height</td>
        <td>170</td>       
      </tr>
      <tr>
        <td>Weight</td>
        <td>50</td>     
      </tr>
      <tr>
        <td>Level of activity</td>
        <td>Less active</td>     
      </tr>
      <tr>
        <td>Goal</td>
        <td>Gain weight</td>     
      </tr>
      <tr>
        <td>Goal Weight</td>
        <td>65</td>     
      </tr>
    </tbody>
  </table>
  
 