<h3 class="text-center text-success ">Hey,Welcome !</h3>
            <h3 class="text-center text-success">Login to access food diary!!</h3>
            <div class="container">
                <div id="login-row" class="row justify-content-center align-items-center">
                  <div class="col-lg-3"></div>
                    <div id="login-column" class="col-lg-6">
                        <div id="login-box" class="col-md-12">
                          
                            <form id="login-form" class="form" style="margin-right: 17%;
                            margin-top: 12px;"  method="get">
                                <!-- <h3 class="text-center text-info">Login</h3> -->
                                <div class="form-group">
                                    <label for="username" class="text">Username:</label><br>
                                    <input type="text" name="username" id="username" class="form-control">
          
                                </div>
                                <div class="form-group">
                                    <label for="password" class="text">Password:</label><br>
                                    <input type="password" name="password" id="password" class="form-control">
                                </div>
                                <div id="error" class="text-warning font-weight-bold"></div>
                                <br>
                                <div class="form-group">
                                    <label for="remember-me" class="text"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                    <!-- <a class="btn btn-succes" routerLinkActive="active" [routerLink]="'dashboard'">Link</a> -->
                                    <input type="submit"  name="submit" class="btn btn-success" value="Submit">
        
                                </div>
                                <div id="register-link" class="text-right">
                                  Don't have an account?<a href="#" class="text-danger"> Sign Up</a>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                </div>
            </div>
