<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Sl No.</th>
        <th scope="col">Time</th>
        <th scope="col">Category</th>
        <th scope="col">Item</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Breakfast</td>
        <td>Baked Foods</td>
        <td>Tostada Shells Corn</td>
        <td>474</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Lunch</td>
        <td>Restaurant Foods</td>
        <td>Lemon Chicken</td>
        <td>252</td>
      </tr>
    </tbody>
  </table>

