<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Sl No.</th>
      <th scope="col">Date</th>
      <th scope="col">Calorie Intake</th>
      <th scope="col">Goal</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>2/6/2020</td>
      <td>1,646</td>
      <td>achieved</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>3/6/2020</td>
      <td>1,640</td>
      <td>failed</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>4/6/2020</td>
      <td>1,645</td>
      <td>failed</td>
    </tr>
  </tbody>
</table>

