 <div>
      <h5 style="padding: 10px;">Daily Goal</h5>
      <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h2>1,646</h2>
              <p class="text-success font-weight-bold">Goal</p>
            </div>
          </div>
          <i style='font-size:24px;margin-top: 40px;' class='fas'>&#xf068;</i>
          <div class="card">
              <div class="card-body">
                  <h2>200</h2>
                  <p class="text-success font-weight-bold">Food</p>
              </div>
            </div>
            <i style='font-size:24px;margin-top: 40px;' class='fas'>&#xf067;</i>
            <div class="card">
              <div class="card-body">
                  <h2>700</h2>
                  <p class="text-success font-weight-bold">Exercise</p>
              </div>
            </div>
            <i style='font-size:24px;margin-top: 40px;' class='fas'>&#xf52c;</i>
            <div class="card">
              <div class="card-body">
                  <h2>112</h2>
                  <p class="text-success font-weight-bold">Remaining</p>
              </div>
            </div>
           
        </div>
  
    </div>
    <div class="line"></div>
    <h5 style="padding:10px;">Meals</h5>
    <div class="data-table">
      
  <table class="table table-hover  border-0">
      <thead>
        <tr>
          <th scope="col">Meal</th>
          <th scope="col">Category</th>
          <th scope="col">Item</th>
          <th scope="col">Quantity</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td>Breakfast</td>
          <td><input type="input" placeholder="category"></td>
          <td><input type="input" placeholder="Item"></td>
          <td><input type="input" placeholder="Quantity"></td>
          <td><span><a href="#">Add</a></span></td>
        </tr>
        <tr>
        
          <td>Lunch</td>
          <td><input type="input" placeholder="category"></td>
          <td><input type="input" placeholder="Item"></td>
          <td><input type="input" placeholder="Quantity"></td>
          <td><span><a href="#">Add</a></span></td>
          
        </tr>
        <tr>
        
          <td>Dinner</td>
          <td><input type="input" placeholder="category"></td>
          <td><input type="input" placeholder="Item"></td>
          <td><input type="input" placeholder="Quantity"></td>
          <td><span><a href="#">Add</a></span></td>
          
        </tr>
        <tr>
          
          <td>Snacks</td>
          <td><input type="input" placeholder="category"></td>
          <td><input type="input" placeholder="Item"></td>
          <td><input type="input" placeholder="Quantity"></td>
          <td><span><a href="#">Add</a></span></td>
        </tr>

      </tbody>
    </table>
  </div>

  <div class="line"></div>
 
  <h5 style="padding:10px;">Exercise</h5>
  <div class="data-table">
      <table class="table table-hover border-0">
          <thead>
            <tr>
              
              <th scope="col">Type</th>
              <th scope="col">Duration</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="input" placeholder="type"></td>
              <td><input type="input" placeholder="duration"></td>
              <td><span><a href="#">Add</a></span></td>
            </tr>
           
          </tbody>
        </table>
  </div>
